{% extends "blog/base.html" %}
{% block content %}
  <article>
    <h1>{{ post.title }}</h1>
    <p>by {{ post.author.username }} | {{ post.published_date }}</p>
    <div>{{ post.content|linebreaks }}</div>
    {% if user == post.author %}
      <p><a href="{% url 'post-edit' post.pk %}">Edit</a> | <a href="{% url 'post-delete' post.pk %}">Delete</a></p>
    {% endif %}
  </article>
{% endblock %}

<hr>
{% include "blog/_comment_list.html" %}
<hr>
{% include "blog/_comment_form.html" %}

<p>
  <strong>Tags:</strong>
  {% if post.tags.all %}
    {% for tag in post.tags.all %}
      <a href="{% url 'posts-by-tag' tag.name %}" class="tag-pill">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% else %}
    <em>No tags</em>
  {% endif %}
</p>
